@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Kosugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


:root {

    /* Colores principales */
    --primary-color: #2036fd; 
    --secundary-color: #2F06CA; 
    --accent-color: #FC1F30; 
    --highlight-color: #FEF102; 
    --background-color: white; 

    /* Colores de uso poco frecuente */
    --details-color: #5EF6AD; 
    --purple: #4F0CA7; 
    --black: #181818; 

    /* Tipografías */
    --font-title: "DotGothic16", sans-serif;
    --font-body: "Montserrat", sans-serif; 
    --font-details: "Kosugi", sans-serif; 
    --font-mono: "Azeret Mono", monospace; 
    --font-btn-link: "Montserrat", sans-serif; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("../img/a1.png"), url("../img/a2.png"), url("../img/a3.png"), url("../img/a4.png"), auto;
    accent-color: var(--accent-color);
}

button, a {
    font-weight: 500;
    text-decoration: none;
}

h1 {
    font-family: var(--font-body);
    font-size: calc(2rem + 10vw);
    color: var(--primary-color);
    letter-spacing: -.055em;
    border-top: 2px solid var(--primary-color);
    margin: 0;
    padding-left: 0.02em;
    line-height: 1;
}

.header-section {
    height: 100%;
    color: var(--primary-color);
    font-family: var(--font-body);
    font-weight: 500;
}


/* Cursores */

.pointer {
    cursor: url("../img/pointer_a1.png"), url("../img/pointer_a2.png"), pointer !important;
}

.help {
    cursor: url("../img/help_a1.png"), url("../img/help_a2.png"), url("../img/help_a3.png"), help;
}

.text {
    cursor: url("../img/text-cursor.png"), text;
}

.special {
    cursor: url("../img/special_a.png"), default;
}


/* MENÚ */

/* Aplica al menu en pantalla grande */

.btn-menu { 
    margin: .5em .05em;
    border-radius: 15px;
    border: 1px solid var(--primary-color);
    font-size: 2.8em;
    background-color: rgba(255, 255, 255, 0.185);
    backdrop-filter: blur(20px);
    filter: brightness(1.2);
    font-family: var(--font-title);
    padding: 8px 15px;
}

#botones-menu  a {
    color: var(--primary-color);
    transition: color 1s ease-in-out;
}

#botones-menu  a:hover {
    color: var(--background-color);
    font-weight: 400 !important;
    padding-left: 1.5em;
    border: 1px solid var(--background-color);
}

.btn-outline-dark {
    transition: 1s !important;
}

.btn-outline-dark:hover {
    background-color: var(--secundary-color);
}

.btn-outline-dark:focus {
    background-color: var(--background-color);
}

.home-section-fondo-menu {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: fixed;
} 

/* Aplica al menu en pantallas pequeñas */

.btn-menu-icon {
    background: rgba(255, 255, 255, 0.112);
    backdrop-filter: blur(10px);
    height: 45px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 1.7%;
    border: 1px solid var(--secundary-color);
} 

.navbar {
    padding: 0;
}

.navbar-nav {
    height: 70vh;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.97);
    text-align: center;
    font-size: 1.8em;
    text-transform: uppercase;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    margin: 1rem 1%;
    font-family: var(--font-title);
    position: relative;
} 

.navbar-collapse {
    transform: scaleY(0) rotate(50deg);
    transform-origin: right top;
    opacity: 0;
}

.navbar-collapse.show {
    transform: scaleY(1) rotate(0);
    opacity: 1;
}

.navbar-collapse ul li a {
    color: var(--primary-color) !important;
}

.menu-oculto {
    width: 100vw;
}

.logotipo-navbar {
    width: 4rem;
    height: auto;
    margin-left: .7rem;
    margin-top: 7%;
    cursor: pointer;
    border-radius: 10px;
    opacity: .9;
}

.navbar-toggler {
    padding: 0;
}

.line {
    height: 1px;
    width: 70%;
    border-radius: 3px;
    transition: 800ms;
    background-color: var(--secundary-color);
    position: absolute;
}

.line:first-child {
    top: 15px;
}

.line:last-child {
    top: 25px;
}

.btn-menu-icon.m .line:first-child {
    transform: rotate(140deg);
    top: 20px;
}

.btn-menu-icon.m .line:last-child {
    transform: rotate(-140deg);
    top: 20px;
}


/* CONTENEDORES */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
}


/* Elementos en general */

[data-aos="my-fade-up"] {
    transform: translateY(50px);
    filter: blur(.3rem);
    transition-property: transform, opacity, filter;
  
    &.aos-animate {
        transform: translateY(0);
        filter: blur(0);
        z-index: 0;
    }
}

.container.mt-5.pt-5 {
    padding-top: 15rem !important;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 6rem;
}

.col-md-6 {
    padding-right: 5rem !important;
    align-items:start;
}       

.col-md-6 h2{
    text-align: start!important;
    padding-bottom: 3rem;
    font-family: var(--font-title);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 3rem;
    text-decoration: ;

}     

.rotate-5 {
    transform: ;
}


/* Placeholder text styling */
::placeholder {
    color: var(--primary-color);
    opacity: 1; 
}

/* Estilo para las cajas de entrada */
.form-control {
    background-color: white;
    color: var(--primary-color); /* Color del texto dentro de las cajas */
    border: 1px solid var(--primary-color); /* Color del borde de las cajas */
    border-radius: 3px;
    padding: 1rem;
    font-size: 1.2rem;
    opacity: 1; 
}

.form-control::placeholder {
    color: var(--primary-color); /* Color del texto placeholder */
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image-container {
    position: relative;
    display: inline-block;
    transform: rotate(5deg); /* Apply rotation to the container */
}

.image-container img {
    border: #2036fd 1px solid;
    display: block;
}

.banner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 1.1rem;
    font-family: var(--font-mono);
}

/* mediaquery */
@media (max-width: 1200px) {

    #modal1 {
        max-width: 720px;
    }

    .video-tv-container {
        padding: 0;
    }
    
    .aviso {
        display: none;
    }

    #carouselReviews .carousel-inner {
        margin: 0 1rem;
    }

    #carouselReviews {
        max-width: 1100px;
        margin-top: 2rem;
    }

    #video-tv {
        width: 140%;
    }

    #carouselReviews .card {
        height: auto;
    }

    .open img {
        opacity: 1;
        bottom: -15rem;
        transform: scale(3);
    }

}

@media (max-width: 992px) {

    .start-section-color-fondo-menu {
        padding-top: 1%;
    }

    video::cue {
        font-size: .9em;
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
    }

    .video-tv-container {
        height: 100vh;
    }

    #video-tv {
        width: 100%; 
        padding: 1%;
        border-radius: 2rem;
        height: 100%;
        object-fit: cover;
    }

    .container-fluid {
        height: auto;
    }

    .logotipo  {
        display: none;
    }

    #sinopsis-section article:first-child .container {
        margin: 0;
        max-width: 1200px;
    }

    #sinopsis-section p {
        line-height: 120%;
        letter-spacing: .01em;
    }

    .card {
        padding: 0 0 1.5em 0;
    }

    .open {
        height: auto;
        width: 95%;
    }

    .open p {
        display: flex;
    }

    .open img {
        display: none;
    }
}

@media (min-width: 992px) {

    .menu-oculto {
        display: none !important;
    }
    
}

@media (max-width: 769px) {

    h1 {
        padding-left: .5rem;
        font-size: calc(1.3rem + 15vw);
        letter-spacing: .15em;
        padding-top: .2em;
        padding-bottom: .3em;
        text-transform: uppercase;
        font-family: var(--font-title);
        text-align: center;
    }

    .navbar-nav {
        height: 50vh;
        margin: 2.3rem 1%;
    }

    .btn-menu {
        margin: 3% 1%;
    }

    .row {
        display: none !important;
    }
}