@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    background-color: black;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    filter: blur(10px);
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 1000;
}

.logotipo-navbar {
    width: 8rem; /* Ajustar el tamaño según sea necesario */
    height: auto;
    cursor: pointer;
    margin-top: 8px; /* Añadir 8 píxeles de margen superior */
}

.back-arrow {
    width: 2rem; /* Ajustar el tamaño según sea necesario */
    height: auto;
    cursor: pointer;
    margin-top: 8px; /* Añadir 8 píxeles de margen superior */
}

/* Estilos para la sección de compra de entradas */
.card {
    transition: transform 0.2s;
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    font-family: var(--font-body);
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-family: var(--font-title);
    font-size: 1.5rem;
}

.card-text {
    font-family: var(--font-body);
    font-size: 1rem;
}

.btn-primary {
    transition: background-color 0.2s, transform 0.2s;
    background-color: var(--primary-color);
    border: none;
    font-family: var(--font-btn-link);
}

.btn-primary:hover {
    background-color: var(--secundary-color);
    transform: scale(1.1);
}

/* Estilos para el encabezado "Compra de Entradas" */
.heading {
    font-family: var(--font-title);
    color: white;
}

/* Estilos para la fecha */
.fecha .form-label {
    color: white;
}