@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Kosugi&family=Montserrat:ital,wght@0,500;1,500&display=swap');

:root {

    /* Colores principales */
    --primary-color: #2036fd; 
    --secundary-color: #2F06CA; 
    --accent-color: #FC1F30; 
    --highlight-color: #FEF102; 
    --background-color: white; 

    /* Colores de uso poco frecuente */
    --details-color: #5EF6AD; 
    --purple: #4F0CA7; 
    --black: #181818; 

    /* Tipografías */
    --font-title: "DotGothic16", sans-serif;
    --font-body: "Montserrat", sans-serif; 
    --font-details: "Kosugi", sans-serif; 
    --font-mono: "Azeret Mono", monospace; 
    --font-btn-link: "Montserrat", sans-serif; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
    cursor: url("../img/a1.png"), url("../img/a2.png"), url("../img/a3.png"), auto;
    accent-color: var(--accent-color);
}

button, a {
    font-family: var(--font-btn-link);
    font-weight: 500;
    text-decoration: none;
}

.pointer {
    cursor: url("../img/pointer_a.png"), pointer;
}

.help {
    cursor: url("../img/help_a1.png"), url("../img/help_a2.png"), wait;
}

.text {
    cursor: url("../img/text-cursor.png"), text;
}


#home-section {
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    max-width: 100vw;
    padding: 0;
}


/* MENÚ */

/* Aplica al menu en pantalla grande */

.btn-menu { 
    margin: .5em .1em 0 .1em !important;
    border-radius: 37px;
    border: 1px solid var(--primary-color);
    font-size: 30px;
    padding: 15px 30px;
    background-color: rgba(255, 255, 255, 0.5);
}

#botones-menu  a {
    color: var(--secundary-color);
    font-weight: 500;
    transition: color 1.5s ease-in-out;
}

#botones-menu  a:hover {
    color: var(--background-color);
    font-weight: 400 !important;
    padding-left: 1.5em;
}

.btn-outline-dark {
    transition: 1.5s !important;
}

.btn-outline-dark:hover {
    background-color: var(--secundary-color);
}

.btn-outline-dark:focus {
    background-color: var(--background-color);
}

.home-section-fondo-menu {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: fixed;
}

/* Aplica al menu en pantallas pequeñas */

.btn-menu-icon {
    background: rgba(255, 255, 255, 0.9);
    height: 50px;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1%;
    top: 1.7rem;
    width: 4rem;
}

.navbar-nav {
    height: 70vh;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.96);
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    margin: 2.3rem 5%;
}

.navbar-collapse {
    transform: scaleY(0) rotate(50deg);
    transform-origin: right top;
    opacity: 0;
}

.navbar-collapse.show {
    transform: scaleY(1) rotate(0);
    opacity: 1;
}

.navbar-collapse ul li a {
    color: var(--primary-color) !important;
}

.menu-oculto {
    width: 100vw;
}

.logotipo-navbar {
    width: 15rem;
    height: auto;
    margin-left: 5%;
    cursor: pointer;
    margin-top: 5px;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12px;
    cursor: pointer;
}

.line {
    width: 35px;
    height: 1px;
    background-color: var(--primary-color);
}

.btn-menu {
    margin: 0 1%;
}


/* CONTENEDORES */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
}


/* LOGOTIPO Y PLAY CON VIDEO DE FONDO */

.logotipo {
    position: absolute;
    max-width: 70%;
    z-index: 2;
    mix-blend-mode: hard-light;
    animation: desplazamiento 1.5s cubic-bezier(0.45, 0, 0.35, 1) infinite;
}

@keyframes desplazamiento {
    0%, 100% {
        transform: translate(0, 0) scale(1);
        filter: brightness(1) blur(0px);
    }
    25% {
        transform: translate(-0.3px, 0) scale(0.999);
        filter: brightness(1.1) blur(0.3px);
    }
    50% {
        transform: translate(-0.5px, -0.3px) scale(0.997);
        filter: brightness(1.3) blur(0.5px);
    }
    75% {
        transform: translate(0, -0.3px) scale(0.999);
        filter: brightness(1.1) blur(0.3px);
    }
}

/* Play */

.open {
    background: none;
    border: none;
    position: absolute;
    z-index: 2;
    width: 6%;
    filter: brightness(2);
    font-size: 3rem;
    color: var(--secundary-color);
}

/* Play en pantalla pequeña */

.open p {
    display: none;
    animation: glitch 1s;
    padding-top: 1rem;
    padding-left: 5px;
}

@keyframes glitch {
    0%, 100% { 
        text-shadow: 3px 3px 6px rgba(88, 130, 255, 0.7), 
                     -3px -3px 8px rgba(157, 227, 207, 0.7); 
    }
    25% { 
        text-shadow: 3px 3px 8px rgba(88, 130, 255, 0.7), 
                     3px -3px 10px rgba(157, 227, 207, 0.7); 
    }
    50% { 
        text-shadow: -3px 3px 9px rgba(88, 130, 255, 0.7), 
                     -3px 3px 11px rgba(157, 227, 207, 0.7); 
    }
    75% { 
        text-shadow: -2px 2px 8px rgba(88, 130, 255, 0.7), 
                     -2px 2px 10px rgba(157, 227, 207, 0.7); 
    }
}

/* Play en pantalla grande */

.open img {
    width: 100%;
    transform: scale(1.4);
    opacity: 0.6;
    transition: .5s ease-out;
    mix-blend-mode: hard-light;
}

.open img:hover {
    opacity: 0.9;
    transform: translateX(2px) scale(1.3);
}

/* Video de fondo */

.video-tv-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8rem;
}

#video-tv {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 6rem;
    opacity: 0.95;
    z-index: 1;
    mix-blend-mode: hard-light;
    padding: 2rem;
}


/* VENTANA MODAL */

#teaser {
    cursor: pointer;
}

dialog {
    margin: auto;
}

dialog::backdrop {
    background:rgba(15, 15, 15, 0.98);
}

dialog .x {
    display: flex;
    justify-content: space-between;
    background-color: var(--secundary-color);
    border-bottom: 1px solid var(--secundary-color);
    font-size: 1.2em;
}

#dialogTitle {
    font-size: .7em;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    margin: 0;
    letter-spacing: .03em;
}

dialog button {
    padding: 0 .4em;
    color: var(--secundary-color);
    font-weight: 500;
    background: #5EF6AD;
    border: 1px solid var(--secundary-color);
    border-radius: 2px;
    box-shadow: 0 0 40px #5ef6ad;
}

dialog button:hover {
    background: #FC1F30;
    transition: 0.4s ease-in;
    box-shadow: 0 0 40px #FC1F30;
}

#modal1 {
    width: 100%;
    max-width: 1080px;
    border: 1px solid var(--black);
    border-radius: 5px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Video de 16:9 */
    background: var(--black);
    object-fit: contain;
}

.video-container video {
    position: absolute;
    width: 100%;
}

.scroll {
    overflow: hidden;
}


/* SUBTÍTULOS */

video::cue {
    font-size: 1.5rem;
    background-color: var(--secundary-color);
    background-clip: content-box;
    color: var(--background-color);
    line-height: 1.5;
}

::cue(b) {
    color: var(--accent-color);
    background-color: #09090990;
    font-size: 1.2em;
}

::cue(i) {
    color: var(--details-color);
}


/* AVISO DE ESTRENO */

.aviso {
    border-radius: 10px;
    position: fixed;
    bottom: 3%;
    right: 1.6%;
    color: var(--secundary-color);
    border: 1px solid var(--secundary-color);
    z-index: 3;
    width: 500px;
    height: 300px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    mix-blend-mode: hard-light;
}

div.fixed-1 {
    background-color: #fffffff8;
}

div.fixed-2 {
    padding: .5rem 0.2rem 0 1.5rem;
    overflow: auto;
}

.fixed-2 .sticky {
    top: 6px;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
}

.fixed-2 .fixed-close {
    width: 2rem;
    height: 2rem;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid #1e0c5f;
    border-radius: 50%;
    color: #1e0c5f;
    margin-right: .4rem;
}

.fixed-2 h1 {
    text-transform: uppercase;
    padding-right: 3rem;
}

.fixed-2 h3, .fixed-2 p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.fixed-2 h3 {
    margin-bottom: 5rem;
}

.fixed-2 span {
    font-size: 1.2em;
    margin-right: 5%;
}

.fixed-2 a {
    color: var(--accent-color);
}


/* ESTILO SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
}
  
.fixed-2::-webkit-scrollbar-track {
    border: 1px solid #2036fd00;
}
   
.fixed-2::-webkit-scrollbar-thumb {
    background: #3106ca00; 
}

::-webkit-scrollbar-track {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}
   
::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
    border-radius: 4px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #FEF102; 
    box-shadow: inset 0 0 3px var(--primary-color);
}


/* TOOLTIP */
 
.custom-tooltip {
    --bs-tooltip-bg: var(--secundary-color);
    mix-blend-mode: hard-light;
}

.tooltip-inner {
    font-size: 1.2rem;
    height: 85px;
    padding: 1em;
    line-height: 1.4;
    color: var(--background-color);
    background: var(--secundary-color);
    border-radius: 50%;
    max-width: 250px !important;
}


/* SECCIÓN SINOPSIS */

#sinopsis-section h3 {
    font-size: 2em;
    font-weight: 500;
    color: var(--black);
    align-self: flex-start;
    margin: 0 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

#sinopsis-section p {
    margin: 2rem 1rem;
    font-size: 1.3em;
    color: inherit;
}

#sinopsis-section .container a {
    font-size: 1.2em;
    color: var(--black);
    margin: 0 1rem;
    align-self: flex-end;
}

#sinopsis-section a:hover {
    text-decoration: underline;
    color: var(--accent-color);
}

#sinopsis-section p span {
    font-weight: 500;
}

section #sinopsis-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

/* .red {
    background-color: #FC1F30;
    display: flex;
    align-items: center;
}
    
.flecha {
    display: flex;
    justify-content: flex-end;
}

.flecha .mas {  
    margin-right: 2rem;
    margin-top: .6rem;
    width: 9px;
}*/


@media (max-width: 1200px) {

    #modal1 {
        max-width: 720px;
    }

    .video-tv-container {
        padding: 0;
    }

    #video-tv {
        width: 100%; 
        padding: 1%;
        border-radius: 2rem;
    }

    .logotipo  {
        display: none;
    }
    
    .aviso {
        display: none;
    }
    .open {
        width: 5rem;
    }

}

@media (max-width: 992px) {

    .start-section-color-fondo-menu {
        padding-top: 1%;
    }

    video::cue {
        font-size: .9em;
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
    }

    .video-tv-container {
        height: 100vh;
    }

    #video-tv {
        height: 100%;
        object-fit: cover;
    }

    .container-fluid {
        height: auto;
    }
}

@media (min-width: 992px) {

    .menu-oculto {
        display: none !important;
    }
}

@media (max-width: 576px) {
    
    .logotipo-navbar {
        width: 10rem;
    }

    .open p {
        display: flex;
    }

    .open img {
        display: none;
    }

    .btn-menu-icon {
        top: 1rem;
    }

    .navbar-nav {
        height: 50vh;
        margin: 2.3rem 1%;
    }
}